*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #171c28;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

main {
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 5px;
}

.menu {
  flex: 25%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 0;
}

.menu > div {
  padding: 2px;

  width: 70%;
}

.welcome {
  flex: 75%;
  background-image: url("../img/porfolio-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 20px;
}

.welcome > div {
  width: 75%;
}
.item {
  border-bottom: 2px solid #bebbbb;
  margin: 40px 0;
  padding: 0 0 5px 0;
  text-align: right;
}

.item a {
  text-decoration: none;
  color: #bebbbb;
  text-transform: uppercase;
  font-size: 1rem;
}

.welcome h1 {
  font-size: 3rem;
  color: #fcfcfc;
  margin-bottom: 1.5rem;
}

.welcome div p {
  font-size: 1.2rem;
  line-height: 146%;
  color: #bebbbb;
  margin-bottom: 1.5rem;
}

.learn-more {
  background: none;
  width: 251px;
  padding: 15px;
  text-align: center;
  border: 2px solid white;
  border-radius: 32px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#blog-section {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

#blog-section > div {
  flex: 49%;
  border: 1px solid #d9d9d9;
  text-align: center;
  padding: 40px 20px;
}

p.date {
  font-size: 0.7rem;
  font-weight: bold;
  color: #171c28;
  margin-bottom: 1.5rem;
}

p.title {
  color: #171c28;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

p.description {
  color: #171c28;
  margin-bottom: 1.5rem;
  line-height: 146%;
  font-size: 0.95rem;
  text-align: justify;
}

#blog-section button {
  text-align: center;
  border: 2px solid #171c28;
  background-color: none;
  padding: 10px 20px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

#blog-section button:hover {
  background-color: #171c28;
  color: white;

  transition: 0.3s ease-in all;
}
