*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #171c28;
  font-size: 16px;
}

nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 20px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
  color: #ffffff;
}

#hero {
  height: 90vh;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#hero > div {
  flex: 1;
}

.hero-left {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.center-col h1 {
  margin-bottom: 2.3rem;
  font-size: 2.5rem;
}

.center-col p {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  line-height: 146%;
  padding-right: 2.5rem;
}

.button {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.button button {
  background-color: #1f53b9;
  color: white;
  border: none;
  border-radius: 8px;

  height: 57px;
  width: 174px;
}

.social-icons {
  display: flex;

  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin: 2rem 0;
}

.social-icons img {
  width: 2.5rem;
  height: auto;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  width: 100%;
  height: auto;
}

#skills {
  background-color: #ffffff;
  height: 100vh;
  color: #171c28;
}

.skills-flex {
  display: flex;
  align-items: stretch;

  justify-content: space-between;
  height: 100%;
}

.skills-flex > * {
  flex: 1;
}

.skills-flex-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-flex-left h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.skills-flex-left p {
  padding-right: 5rem;

  line-height: 146%;
  font-size: 1.2rem;
}

.skills-flex-right {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  line-height: 146%;
}

.item {
  width: 50%;
  flex-grow: 1;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item p {
  margin-top: 0.5rem;
}

.box1 {
  background-color: #f7f7f7;
}

.box2 {
  background-color: #fcfcfc;
}

.item:nth-child(1),
.item:nth-child(2) {
  flex-basis: 50%; /* Setting the initial size of the first two items */
}

.center {
  text-align: center;
}

#portfolio {
  background-image: url("../img/porfolio-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 100px 0;
}

#portfolio h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.yellow {
  color: yellow;
  font-weight: bold;
}

.portfolio-tag {
  color: white;
  margin: 1rem 0;
}

.portfolio-flex {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  width: 85%;
  margin: 3rem auto 0 auto;
  align-items: stretch;
}

.portfolio-flex > * {
  border-radius: 7px;
  flex: 1;
  background-color: #171c28;
  padding: 25px 20px;
}

.portfolio-flex h3 {
  color: white;
  font-weight: bold;
  margin-bottom: 2rem;
}

.portfolio-flex p {
  margin-bottom: 2rem;
  color: #bebbbb;
  line-height: 146%;
  text-align: left;
  font-size: 1rem;
}

.portfolio-flex a {
  display: block;
  margin-bottom: 2rem;
  text-decoration: underline;
  color: yellow;
}

#about {
  background-color: #f9f9f9;

  padding: 70px;
}

.about-container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.about-left {
  border-right: 3px solid rgba(218, 213, 248, 0.7);
}

.about-left,
.about-right {
  flex: 1;
  padding: 90px;
}

.button-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button-arrow {
  padding: 5px 40px;
  border: 1px solid #171c28;
  background-color: white;
  cursor: pointer;
}

.about-container h1 {
  color: #171c28;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.about-container h1 {
  color: #171c28;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.about-left > p,
.about-right > p {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  line-height: 146%;
}

button p {
  font-weight: bold;
}

#contact {
  padding: 30px 0;
}

.contact-flex {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.contact-left,
.contact-right {
  flex: 1;

  padding: 20px;
}

.contact-left h1 {
  font-weight: bold;
  color: white;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.contact-left > p {
  color: white;
  font-size: 1.2rem;
  line-height: 146%;
  margin-bottom: 2rem;
}

.contact-details {
  padding: 30px;
}

.detail {
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: center;
  margin-bottom: 1rem;
}

.detail p {
  color: white;
  font-size: 1rem;
  line-height: 146%;
}

.form-container {
  background-color: #f9f9f9;
  border-radius: 7px;
  padding: 20px;
  height: 100%;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 13px 20px;
  border-radius: 5px;
  border: 1px solid #bebbbb;
  background-color: white;
}

.input-item {
  margin-bottom: 0.7rem;
}

.input-item p {
  margin-bottom: 5px;
}

.input-item button {
  padding: 13px 20px;
  width: 100%;
  background-color: #171c28;
  color: white;
  border: none;
  border-radius: 5px;
}

footer {
  background-color: #1c2834;
  text-align: center;
  color: #bebbbb;
  padding: 15px 0;
}
